<h1><%= @article.title %></h1>
<h2><%= @article.body %></h2>

<%= link_to 'edit', edit_article_path(@article) %>
<%= link_to 'delete', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } %>


<h2>Comments</h2>
Our Article has <%= Comment.public_count%> comments and counting!
<%= render @article.comments %>

<h2>Add a comment</h2>
<%= render "comments/form" %>
